
.home{
    background-color: lightblue;

    .tweets-container{
        background-color: lightcoral; 
        >*{
            width: 100%;
        }     
    }

    .side-container{
        width: 20%;
        background-color: lightgoldenrodyellow;
    }
}