
.home{
    background-color: lightblue;

    .tweets-container{
        background-color: lightcoral;      
    }

    .side-container{
        width: 20%;
        background-color: lightgoldenrodyellow;
    }
}